body {
    background-color: rgb(226, 231, 239);
    color: black;
}

.profile-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.profile-details {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2, h4 {
    color: #007bff;
}

.text-muted {
    color: #6c757d !important;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-outline-primary {
    border-color: #007bff;
    color: #007bff;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    color: white;
}
